@import url("https://fonts.googleapis.com/css?family=Advent+Pro|Dancing+Script&display=swap");
@media screen {
}

* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Advent Pro", sans-serif;
  padding: 0;
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
h2 {
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px;
  font-size: 2em;
  text-shadow: 1px 1px 1px black;
}
a {
  text-decoration: none;
  color: black;
}

/* NAVBAR */

nav {
  overflow: hidden;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  position: fixed;
  width: 100%;
  opacity: 0.9;
}
header li {
  float: right;
  font-size: 1.2em;
}
header li a {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 18px 16px;
}
#logo {
  font-family: "Dancing Script", cursive;
  font-weight: bold;
  float: left;
}

/* .hamburger-menu {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
}

.hamburger-menu ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hamburger-menu ul li {
  padding: 10px 20px;
}

.hamburger-menu ul li a {
  color: #fff;
  text-decoration: none;
}

.hamburger-menu ul li a:hover {
  color: #999;
}

@media (max-width: 414px) {
  .hamburger-menu {
    display: block;
  }

  nav {
    display: none;
  }
} */

/* BACKGROUND */

#presentation {
  background: linear-gradient(to right, #aa4b6b, #6b6b83, #3b8d99);
  background-size: cover;
  min-height: 100vh;
  padding: 10px 0px 100px 0;
}

/* TEXTE EN HAUT  */

#presentation p {
  text-align: center;
}

#texteIntro {
  padding: 0px 20%;
}

/* ***************************PHOTO**************** */
.box {
  width: 273px;
  height: 312px;
}
.global-photo {
  display: flex;
  justify-content: space-between;
  padding: 30px 10%;
}

.content-photo {
  font-family: "Dancing Script", cursive;
  text-align: center;
  font-size: 1.8em;
  margin: 15px;
  font-weight: 300;
}

.content-photo img {
  border-radius: 60% 40% 65% 35% / 27% 54% 46% 73%;
  box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
  height: 273px;
  width: 203px;
}

/* **********BIO********* */

.biographie,
p {
  padding: 15px;
  margin: 0px;
}

/* **********RESPONSIVE********* */

@media screen and (max-width: 452px) {
  .box {
    width: 83px;
    height: 53px;
  }
  .global-photo {
    display: flex;
    justify-content: center;
    padding: 14px;
  }

  .content-photo {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
  }

  .content-photo img {
    border-radius: 60% 40% 65% 35% / 27% 54% 46% 73%;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
    height: 62px;
    width: 54px;
  }
}

@media screen and (max-width: 414px) {
  .box {
    width: 83px;
    height: 53px;
  }
  .global-photo {
    display: flex;
    justify-content: center;
    padding: 14px;
  }

  .content-photo {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
  }

  .content-photo img {
    border-radius: 60% 40% 65% 35% / 27% 54% 46% 73%;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
    height: 62px;
    width: 54px;
  }
}

@media screen and (max-width: 375px) {
  .box {
    width: 83px;
    height: 53px;
  }
  .global-photo {
    display: flex;
    justify-content: center;
    padding: 14px;
  }

  .content-photo {
    font-family: "Dancing Script", cursive;
    text-align: center;
    font-size: 1.8em;
    margin: 15px;
    font-weight: 300;
  }

  .content-photo img {
    border-radius: 60% 40% 65% 35% / 27% 54% 46% 73%;
    box-shadow: 5px 5px 3px 1px rgba(0, 0, 0, 0.7);
    height: 62px;
    width: 54px;
  }
}
